.Menu-container {
    height: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid #ecdedebd;


    .Main-menu {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 20px;
        height: 100%;

        .menu-drop {
            font-size: 13px;
            font-weight: 600;
            height: 100%;
            align-items: center;
            display: flex;

            &:hover {
                border-top: 4px solid rgb(0, 204, 255);
            }

            .menu-item {
                color: #777;
                font-size: 13px;
            }
        }
    }
}

.menu-drop>.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-drop:hover>.dropdown-menu {
    display: block;
    opacity: 1;
}

.scroll-menu {
    position: sticky; //!
    z-index: 1000; //! sticky
    top: 0%; //!
    height: 100px;
    text-transform: uppercase;
    border-bottom: 1px solid #ecdedebd;
    background-color: #4464b4;
    color: rgb(251, 253, 255);
    transition: .3s;

    .scroll-menu-main {
        .menu-drop-scroll {

            font-size: 12px;
            font-weight: 600;
            height: 100%;
            align-items: center;
            display: flex;

            &:hover {
                border-top: 4px solid rgb(0, 204, 255);
            }
        }
    }

    i {
        color: #fbfbfb;
        font-size: 25px;
        margin-left: 30px;

        &:hover {
            cursor: pointer;
            color: #3b75e9;
        }
    }
}

@media (max-width: 768px) {
    .Menu-container {
        height: auto;

    }

    .scroll-menu {
        display: none;
    }

    .Main-menu {
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .menu-drop {
        font-size: 14px;
        /* Slightly bigger font */
        padding: 10px;
    }

    i {
        font-size: 20px;
        /* Smaller icon */
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .Menu-container {
        height: auto;

    }

    .Main-menu {

        gap: 5px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu-drop {
        font-size: 16px;
        padding: 8px;
    }


    i {
        font-size: 18px;
        /* Adjust icon size */
        /* Decrease margin for mobile */
    }
}