.product-container {
    .product-main {
        span {
            font-weight: 600;
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .form-group {
            .Add-Image {
                height: 45px;
                width: 150px;
                background-color: rgba(142, 224, 154, 0.93);
                display: flex;
                border-radius: 7px;
                align-items: center;
                justify-content: center;

                &:hover {
                    transition: .3s;
                    cursor: pointer;
                    background-color: rgba(169, 185, 174, 0.547);
                }
            }

            .img-prev {
                display: flex;
                margin-top: 30px;
                height: 200px;
                width: 220px;


                img {
                    width: 100%;
                    height: 100%;
                }

                span {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid;
                    height: 30px;
                    width: 26px;

                    &:hover {
                        background-color: #777;
                        transition: .3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}