.btn-add-banner {
    border-radius: 4px;
    margin: 10px 0;
    width: fit-content;
    font-size: 15px !important;
}

.container-form {
    height: 20rem;

    .form-group {
        margin: 15px 0;

        .label-img {

            font-size: 15px;
            text-align: center;
            height: 30px;
            width: 100px;
            background-color: aquamarine;
            border-radius: 5px;
            margin-top: 10px;

            &:hover {
                cursor: pointer;
                transition: .3s;
                background-color: #20b4b93d;
            }
        }
    }

    .img-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed;
        margin-top: 20px;
        height: 12em;
        color: #777;


        img {
            height: 100%;
            width: 70%;
        }
    }
}