.btn-login {
    margin-right: 20px;
    border: none;
    padding: 10px;
    border-radius: 10%;
}

.header-container {
    height: 40px !important;
    background-color: #fffbfb;
    flex-wrap: wrap;

    .header__navbar {
        z-index: 1;
    }

    .text-left-header {
        font-size: 11px;
        color: #777;
    }

    .transparent-navbar {
        padding: 0 !important;
        background-color: transparent !important;
    }

    .nav__header-option {
        display: flex;
        gap: 10px;


        .header__option {
            color: #777 !important;
            font-size: 11px;

            margin-top: 4px;
        }

        .Social-content {
            display: flex;

            i {

                text-align: center;
                width: 25px;
                font-size: 12px;
                padding: 5px;
                border-radius: 50%;
                transition: .3s;
                color: #777;

                &:hover.active1 {

                    background: #3b5a9a;
                    color: white;

                }

                &:hover.active2 {

                    background: #69b6f2;
                    color: white;

                }

                &:hover.active3 {

                    background: #eb9f3c;
                    color: white;

                }
            }

            .btn-logout {
                padding-left: 20px;

                display: flex;
                align-items: center;


                i {
                    font-size: 17px;

                    &:hover {
                        cursor: pointer;
                        color: #3b5a9a;
                    }
                }
            }
        }
    }
}

@media (max-width :768px) {
    .text-left-header {
        display: none;
    }

    .nav__header-option {

        width: fit-content;
        background-color: #030303d7;
        border-radius: 10px;
        height: 100%;
    }

    .header__option {
        color: rgb(255, 243, 243) !important;
        font-size: 12px !important;

        &:hover {
            background-color: #3b5a9a;
        }
    }

}