.footer-container {
    background-color: rgba(0, 0, 0, 0.915);
    height: 100%;
    max-height: 60rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    .footer-main {
        // background: url('../asset/image/IntroDuce/bg-footer.jpg') center center no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;

        .footer-content {
            margin-top: 30px;

            .img-logo {
                width: 200px;
                height: 110px;
                height: auto;
            }

            p {
                color: rgba(255, 255, 255, 0.564);
            }

            .row-img-footer {

                gap: 20px;
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    width: 24vw;
                    max-width: 85px;
                    height: 24vw;
                    max-height: 95px;
                    object-fit: contain;
                }
            }
        }
    }

    .last-footer {
        height: 40px;
        background-color: #111111;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.564)
    }
}